* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
    background-color: #ffffff;
    color: #474747;
    font-family: lato, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
